@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');
*{
	outline: none !important;
	scroll-behavior: smooth;
}
body{
	background: #1A1F20;
	font-family: sans-serif;
}
header{
	position: relative;
	z-index: 1000000;
}
.jumbotron{
	padding-bottom: 0;
	background: #1A1F20;
}
.jumbo{
	padding-top: 10px;
}

.jumbo h1{
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
	color: #fff;
	font-size: 50px;
	text-decoration: underline;
}
.home{
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}
.home .about{
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.phome{
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 20%;
	padding-right: 20%;
	width: 100%;
	height: 100%;
	text-align: center;
}
.phome .pabout{
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	background-image: url(../img/pBack.jpg);
	margin: 50px auto;
	padding: 15px;
	padding-bottom: 0;
	border: 3px solid #85A5CC;
	overflow: hidden;
}
.phome .pabout .pborder{
	display: inline-block;
	box-sizing: border-box;
	padding-bottom: 0;
	border: 3px solid #85A5CC;
	overflow: hidden;
}
.phome .pabout .pborder p{
	color: #000;
	font-size: 24px;
	text-shadow : 3px 3px 3px #A9A3A1;
}
.phome .pabout .pborder img{
	padding-top: 0px;
	width: 80%;
	margin : 10px;
	border : 3px solid #85A5CC;
	overflow: hidden;
}
.home .contect{
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.home .contect h6{
	display: inline-block;
	text-align: center;
	background-color: white; 
	color: #85A5CC;
	font-size: 24px;
	font-weight: bold;
	
	border : 1px solid #85A5CC;
}
.home .contect p{
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.home .about .b-btn{
	text-align: center;
}
.home .contect .b-btn{
	text-align: center;
}
.home .about .b-btn p{
	color: #fff;
	text-align: center;
	font-size: 26px;
}
.home .contect .b-btn p{
	color: #fff;
	text-align: center;
	font-size: 26px;
}
.home .about .b-btn a{
	padding: 0 4px;
	text-align: left;
	text-decoration: none;
	color: #DAF7A6;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.home .contect .b-btn a{
	padding: 0 0;
	text-align: left;
	text-decoration: none;
	color: #DAF7A6;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.home .about .b-btn a:hover{
	padding: 0 4px;
	text-align: center;
	text-decoration: none;
	color: #85A5CC;
	font-size: 26px;
}
.home .contect .b-btn a:hover{
	text-align: left;
	text-decoration: none;
	color: #85A5CC;
	font-size: 26px;
}
.home .about h3{
	padding-left: 10px;
	text-align: left;
	color: #fff;
	font-size: 40px;
}
.home .about p{
	padding-left: 10px;
	text-align: left;
	color: #fff;
	font-size: 24px;
}
.home .about a{
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	color: #DAF7A6;
	font-size: 24px;
	cursor: pointer;
}
.home .about a:hover{
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	color: #85A5CC;
	font-size: 24px;
}
.row{
	text-align: center;
}
.row p{
	padding-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.row .box{
	display: inline-block;
	background: #fff;
	width: 350px;
	height: 250px;
	margin : 15px;
	border : 1px solid #85A5CC;
	filter : drop-shadow(3px 3px 3px #85A5CC);
	align-items: center;
	overflow: hidden;
	cursor: pointer;
}

.row .box .hover-box{
	background: rgba(48,57,92,0.6);
	position: relative;
	bottom: -100%;
	height: 100%;
	position: 100%;
	transition: all .7s ease;
	padding: 35px 15px;
	text-align: center;
	opacity: 0;
	align-items: center;
}
.row .box .hover-box h1{
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}
.row .box .hover-box h5{
	color: white;
	font-size: 28px;
	font-weight: bold;
}
.row .box .hover-box a{
	text-decoration: none;
	background-color: white; 
	color: #85A5CC;
	font-size: 24px;
	font-weight: bold;
	margin: 20px;
	border : 1px solid #85A5CC;
}
.row .box:hover .hover-box{
	bottom:  0;
	opacity: 1;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.navbar{
	background: transparent !important;
	transition: 0.5s; 
}
.navbar.scrolled{
	background: #1A1F20 !important;
	transition: 0.5s; 
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    font-size: 24px;
    border-radius : 8px;
    color: #1A1F20;
    background: #DAF7A6;
}
.navbar-dark .navbar-nav .active>.nav-link:hover{
	color: #85A5CC;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 24px;
   
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus{
	color: #85A5CC;
	font-size: 24px;
    
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:visited {
    color: rgba(255,255,255.1);
    font-size: 2rem;
    font-weight: 550;
}
